[Unit]
Description=Serial to MQTT messager service
After=network-online.target

[Service]
Type=exec
User=messager
Group=messager
WorkingDirectory=/
KillSignal=SIGTERM
#ExecStart=/usr/local/bin/messager -h tcp://domos:1883 -p ser1/tx -s ser1/rx -d /dev/ttyACM0
#ExecStart=/usr/local/bin/messager -d /dev/ttyGPS -b 4800 -u 192.168.12.255:2000 -l /tmp/gps.log -ls 100000
#ExecStart=/usr/local/bin/messager -d /dev/ttyGPS -b 4800 -t :5000 -l /tmp/gps.log -ls 100000
ExecStart=/usr/local/bin/messager -d /dev/ttyGX2200E -b 38400 -t :5000 -u 192.168.1.255:2000 -l /tmp/gps.log -ls 100000

[Install]
WantedBy=multi-user.target
